.about-main {
    margin-top: 5rem;
}

.about-container {
    width: 65%;
    margin: 3rem auto;
    background-color: $color-gold;
    padding: 3rem;
    border-radius: 5px;
}

.about {
    color: $color-black;
}