.work-description {
    text-align: center;
}

.specialized {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 2rem;
}

.specialized-wrapper {
    width: 100%
}

.latest-blog {
    text-align: center;
}