.hero {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 5rem auto;
}

.hero-image {
    width: 25%;
    height: 25%;
    margin: 3rem;
}

.work-description {
    text-align: center;
}

.specialized {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 2rem;
}

.specialized-wrapper {
    width: 100%
}

.latest-blog {
    text-align: center;
    margin: 3rem auto;
    padding: 2rem;
    background-color: $color-darkgrey;
    color: $color-black;
    width: 40%;
    border-radius: 1rem;
}
