.work-description {
    text-align: center;
}

.specialized {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 2rem;
}

.specialized-wrapper {
    width: 100%
}

.latest-blog {
    text-align: center;
    margin-top: 3rem;
    & img {
        height: 60%;
        width: 60%;
    }
}

.post {
    margin-top: 3rem;
    margin-right: 5rem;
}
