//Typography for all 

h1 {
    font-family: $font-header;
    font-size: 2.5rem;
    color: $color-gold;
    text-align: center;
    margin: 1rem 0;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0;
}

.article-h2 a {
    text-align: start;
    font-size: 1.5rem;

}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1rem;
}

p{
    font-size: 1.2rem;
    margin-top: 2rem;
}

a {
    font-size: 1rem;
    

    &:hover {
        color: $color-gold;
    }
}

.comment-reply-link {
    font-size: .4rem;
    margin-top: 1rem;
}

.comment-meta a {
    font-size: .4rem;
    margin-right: 1rem;
}

.comment-date a {
    font-size: .4rem;
}

.widget-wrapper a {
    font-size: .6rem;
}

nav.footer-menu a {
    font-size: 1rem
}

.p-footer {
    font-size: .8rem;
    margin-top: 3rem;
}

.contact {
    font-size: 1.2rem;
    margin-top: 1rem;
}


.meta-info p {
    font-size: .8rem;
    margin-top: 1rem;

    & a{
        font-size: .8rem;
    }
}

@include breakpoint($xsmall) {
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2rem;
    }

    .article-h2 a {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.6rem;
    }

    a {
        font-size: 1.2rem;
    }

    .comment-reply-link {
        font-size: .6rem;
    }

    .comment-meta a {
        font-size: .6rem;
    }

    .comment-date a {
        font-size: .6rem;
    }

    .widget-wrapper a {
        font-size: .8rem;
    }

    nav.footer-menu a {
        font-size: 1rem
    }

    .p-footer {
        font-size: 1rem;
    }

    .contact {
        font-size: 1.4rem;
    }

    .meta-info p {
        font-size: 1rem;
        margin-top: 1rem;
    
        & a{
            font-size: 1rem;
        }
    }
}


@include breakpoint($small) {
    h1 {
        font-size: 3.5rem;
    }
    
    h2 {
        font-size: 2.5rem;
    }

    .article-h2 a {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.8rem;
    }

    a {
        font-size: 1.8rem;
    }

    .comment-reply-link {
        font-size: .8rem;
    }

    .comment-meta a {
        font-size: .8rem;
    }

    .comment-date a {
        font-size: .8rem;
    }

    .widget-wrapper a {
        font-size: 1rem;
    }

    nav.footer-menu a {
        font-size: 1.2rem
    }

    .p-footer {
        font-size: 1rem;
    }

    .contact {
        font-size: 1.8rem;
    }

    .meta-info p {
        font-size: 1rem;
        margin-top: 1rem;
    
        & a{
            font-size: 1rem;
        }
    }
}

@include breakpoint($mid) {
    h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 3rem;
    }

    .article-h2 a {
        font-size: 3rem;
    }

    h3 {
        font-size: 3rem;
    }

    h4 {
        font-size: 2rem;
    }

    p {
        font-size: 1.8rem;
    }

    a {
        font-size: 2rem;
    }

    .comment-reply-link {
        font-size: 1.4rem;
    }

    .comment-meta a {
        font-size: 1.4rem;
    }

    .comment-date a {
        font-size: 1.4rem;
    }

    .widget-wrapper a {
        font-size: 1.6rem;
    }

    nav.footer-menu a {
        font-size: 1.6rem
    }

    .p-footer {
        font-size: 1.4rem;
    }

    .contact {
        font-size: 2rem;
    }

    .meta-info p {
        font-size: 1.4rem;
        margin-top: 1rem;
    
        & a{
            font-size: 1.4rem;
        }
    }
}

@include breakpoint($medium) {
    h1 {
        font-size: 5rem;
    }
    
    h2 {
        font-size: 4rem;
    }
    
    .article-h2 a{
        font-size: 4rem;
    }

    h3 {
        font-size: 3.5rem;
    }

    h4 {
        font-size: 2.5rem;
    }

    p {
        font-size: 2rem;
    }

    a {
        font-size: 2.5rem;
    }

    .comment-reply-link {
        font-size: 1.8rem;
    }

    .comment-meta a {
        font-size: 1.8rem;
    }

    .comment-date a {
        font-size: 1.8rem;
    }

    .widget-wrapper a {
        font-size: 2rem;
    }

    nav.footer-menu a {
        font-size: 2rem
    }

    .p-footer {
        font-size: 1.8rem;
    }

    .contact {
        font-size: 2.5rem;
    }

    .meta-info p {
        font-size: 1.8rem;
        margin-top: 1rem;
    
        & a{
            font-size: 1.8rem;
        }
    }
}

@include breakpoint($large) {
    h1 {
        font-size: 6rem;
    }
    
    h2 {
        font-size: 5rem;
    }

    .article-h2 a{
        font-size: 5rem;
    }

    h3 {
        font-size: 4.5rem;
    }

    h4 {
        font-size: 3rem;
    }

    p {
        font-size: 2.5rem;
    }

    a {
        font-size: 3rem;
    }

    .comment-reply-link {
        font-size: 2.2rem;
    }

    .comment-meta a {
        font-size: 2.2rem;
    }

    .comment-date a {
        font-size: 2.2rem;
    }

    .widget-wrapper a {
        font-size: 2.4rem;
    }

    nav.footer-menu a {
        font-size: 2.4rem
    }

    .p-footer {
        font-size: 2rem;
    }

    .contact {
        font-size: 3rem;
    }

    .meta-info p {
        font-size: 2rem;
        margin-top: 1rem;
    
        & a{
            font-size: 2rem;
        }
    }
}

@include breakpoint($xlarge) {
    h1 {
        font-size: 7rem;
    }
    
    h2 {
        font-size: 6rem;
    }

    .article-h2 a {
        font-size: 6rem;
    }

    h3 {
        font-size: 5.5rem;
    }

    h4 {
        font-size: 4rem;
    }
    
    p {
        font-size: 3rem;
    }

    a {
        font-size: 4rem;
    }

    .comment-reply-link {
        font-size: 3.2rem;
    }

    .comment-meta a {
        font-size: 3.2rem;
    }

    .comment-date a {
        font-size: 3.2rem;
    }

    .widget-wrapper a {
        font-size: 3.4rem;
    }

    nav.footer-menu a {
        font-size: 3.4rem
    }

    .p-footer {
        font-size: 3rem;
    }

    .contact {
        font-size: 4rem;
    }

    .meta-info p {
        font-size: 3rem;
        margin-top: 1rem;
    
        & a{
            font-size: 3rem;
        }
    }
}