.blog-h1{
    margin-top: 5rem;
}


.container {
    max-width: 75%;
    margin: auto;
}

.blog-items {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
    "article sidebar";
}

.blog-items article{
    grid-area: article;
}

.sidebar {
    grid-area: sidebar;
    margin-top: 5rem;
    padding-top: 5rem;
    background-color: $color-grey;
    color: $color-black;
    border-radius: 1rem;
}

.meta-info {
    margin: 2rem;

    & .date-by-cat {
        margin: 2rem;
    }
}

.meta-info img {
    margin-left: 2rem;
    height: 50%;
    width: 50%
}

.latest-blog {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas: 
    "post-image info";
}

.post {
    grid-area: info;
}

.latest-blog a {
    grid-area: post-image;
}

.latest-blog img {
    margin-top: 2rem;
    height: 75%;
    width: 75%
}

.post-image {
    margin-top: 3rem;
    text-align: center;
}

.widget-wrapper {
    margin: 3rem;
}

.content {
    margin-left: 4rem;
    margin-right: 2rem;
}

@include xsmall($xsmall) {
    .meta-info {
        display: flex;
        flex-direction: column;

        & .date-by-cat {
            margin: .3rem 0 1rem; 
        }
    }
}