.blog h1{
    margin-top: 5rem;
}

.archive-description {
    margin: auto;
    text-align: center;
    width: 50%;
}

.container {
    max-width: 90%;
    margin: auto;
    display: flex;
}

@include xsmall($small) {
    .container {
        display: block;
    }

    .sidebar {
        margin: auto;
        padding-bottom: 2rem;
    }
}

.archive-items {
    width: 100%;
}

.blog-items {
    display: flex;
    flex-direction: column;
}

.sidebar {
    margin-top: 5rem;
    padding-top: 2rem;
    background-color: $color-grey;
    color: $color-black;
    border-radius: 1rem;
    text-align: center;
    width: 50%;

        & ul {
            display: flex;
            flex-direction: column;
        }
}

.meta-info {
    margin: 2rem;
    text-align: center;

    & .date-by-cat {
        margin: 2rem;
    }
}

.meta-info img {
    height: 40%;
    width: 40%

}

.latest-blog {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas: 
    "post-image info";
}

.post {
    grid-area: info;
}

.latest-blog a {
    grid-area: post-image;
}

.latest-blog img {
    margin-top: 2rem;
    height: 75%;
    width: 75%
}

.post-image {
    margin-top: 3rem;
    text-align: center;
}

.widget-wrapper {
    margin: 3rem;
}

.content {
    margin-left: 4rem;
    margin-right: 2rem;
}

.sidebar li {
    margin-top: 1rem;
}

//pagination
.bgctippcity-pagination{
    display: flex;
    justify-content: space-between;
}

.nav-links{
    margin-top: 40px;
}
.nav-links .page-numbers{
    padding: 10px 15px;
    display: inline-block;
}
.nav-links .current{
    background-color: $color-gold;
    color: $color-black;
}
.nav-links .next,
.nav-links .prev{
    background-color: transparent;
}
.nav-links .prev{
    padding-left: 0;
}