.comments-title {
    margin-top: 3rem;
    text-align: center;
}

.comment-list li{
    margin-top: 3rem;
}

.comment-respond {
    margin-top: 5rem;
}

.comment-words label{
    margin-right: 1rem;
    display: block;
}

.submit {
    border-radius: 4px;
    padding: 1rem;
    background-color: $color-gold;
}

