.site-footer {
    display: flex;
    justify-content: space-between;
    margin: 3rem 3rem 5rem;
}

.footer-menu a {
    margin-right: 1rem
}

@include xsmall($xsmall) {
    .footer-menu {
        display: none;
    }

    .p-footer {
        text-align: center;
    }
}