.logo {
    text-align: center;
    margin: auto;

    & img{
        margin: 2rem;
        height: 50%;
        width: 50%
    }
}

.page-title {
    font-size: 5rem;
    margin-left: 5rem;
     &:hover {
        color: $color-grey;
     }
}

.title {
    width: 100%;
}

.contact-section {
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li.current-menu-item a {
    color: $color-black;
    background-color: $color-gold;
    border-radius: 4px;
    padding: 1rem;
}

@include breakpoint($small) {
    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}